@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    font-family: "Roboto Flex", sans-serif;
    font-weight: bold;
    text-decoration-color: black;
    background: linear-gradient(180deg, rgba(212, 39, 193, 255) 30%, rgba(255, 255, 255, 0) 60%) no-repeat;
    height: 120px;
    line-height: 60px;
    text-decoration: none;
}

#menu-icon {
    font-size: 175%;
    padding: 15px;
    float: left
}

#socials {
    
    float: right;
    top: 0;
    letter-spacing: 30px;
    font-size: xx-large;
}

a:visited {
    color: black;
  }