@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    font-family: "Roboto Flex", sans-serif;
    background: linear-gradient(180deg, rgba(212, 39, 193, 255) 30%, rgba(255, 255, 255, 0) 60%) no-repeat;
    color: black;
    height: 120px;
    line-height: 60px;
}

#menu-icon {
    font-size: 175%;
    padding: 15px;    
}
